@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-neutral-900 text-neutral-900 dark:text-white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html, body {
  overflow-x: hidden;
}

